@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
}
.App {
  background-image: url("../public/backgroundImage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto; 
  max-height: fit-content;
  width: 100%;
}



.monkeySvg {
  padding-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .App{
    height: 100vh;
  }
}